/* src/App.css */
.App {
    text-align: center;
    padding: 20px;
  }
  
  .converter-panel {
    margin: 20px auto;
    display: inline-block;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #feca07;
    color: #000;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #f0a500;
  }
  